:root {
  --color-black: #020204;
  --color-green4: #204829;
  --color-green3: #22b455;
  --color-green2: #80ce87;
  --color-green1: #92e5a1;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
    text-align: center;
    font-family: 'Big Shoudelrs', sans-serif;
    font-size: 1rem;
    line-height: 1.4;
    color: #92e5a1;
    background-image: url(https://images.unsplash.com/photo-1526374965328-7f61d4dc18c5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80);
    background-size: cover;
    background-position: center;
  }

 .container {
   width: 100%;
   margin: 3.123 rem auto 0 auto;
   background-color: #20482942;
 } 

 h1 {
   font-size: 3rem;
   line-height: 2;
 }

 p {
   font-weight: 800;
   line-height: 4;
 }

 h1, p {
   margin-top: 0;
   margin-bottom: 0.5rem;
}

.title {
  position: relative;
}
